.playbar{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1001;
    height: 4em;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;

    &__controller {
        text-align: center;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .bx-rewind {
            margin-left: 1rem;
            font-size: 2rem;
            color: white;
        }

        .bx-play {
            font-size: 2.4rem;
            color: white;
        }

        .bx-fast-forward {
            font-size: 2rem;
            color: white;
        }

        .bx-repeat {
            margin-left: 1rem;
            font-size: 1.6rem;
            color: white;
        }

        .bx-shuffle {
            font-size: 1.6rem;
            color: white;
        }

        i {
            padding: 0 .1rem;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;

        .playbar__cover {
            width: 40px;
            margin-left: 1rem;

            .playbar__coverimg {
                width: 40px;
                border-radius: 1rem;
            }
        }

        .playbar__desc {
            margin-left: .8rem;

            .playbar__desc__song {
                color: white;
                font-size: .8rem;
            }

            .playbar__desc__downside {
                color: rgb(165, 165, 165);
                margin-top: 0.1rem;
                font-size: .8rem;
            }
        }
    }

    &__status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;

        .playtime {
            margin-left: 2rem;
            font-size: 0.8rem;
        }

        .volumebar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 200px;
        }
    }
}
