.songBox {
    display: block;

    &__container {
        display: grid;
        align-items: center;
        grid-template-columns: 100px 2fr 0.2fr;
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    &__playtime {
        p {
            color: rgb(120, 120, 120);
            font-size: 0.9rem;
        }
    }
}
