.albumDetail {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // height: 100vh;
    padding-bottom: 6em;

    // &__cover {
    //     flex : 1;
    // }

    &__info {
        margin-left: 2em;
        padding-top: 4em;

        p {
            color: rgb(99, 99, 99);
        }
    }

    &__playlist {
        width: 60em;
        margin-top: 1em;
    }
}

.mb {
    margin-bottom: 10px;
}
